<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Manga Reader</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="topbar">
            <div class="topbar__Left">
                <div class="topbar__button" id="btn-sidebar-toggle">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
            </div>
            <div class="topbar__right">
                <div class="topbar__button" id="zoom_out">
                    <i class="fa fa-search-minus" aria-hidden="true"></i>
                </div>
                <div class="topbar__button" id="zoom_in">
                    <i class="fa fa-search-plus" aria-hidden="true"></i>
                </div>
                <div class="topbar__button" id="openfiles">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="sidebar" id="sidebar">
                <img src="../assets/images/great2.gif" alt="" width="300px">
            </div>
            <div class="manga-container">
                <div class="btn btn-left" id="btn-left">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
                <div id="image">
                    <img src="../assets/images/placeholder.png" id="image-viewer">
                </div>
                <div class="btn btn-right" id="btn-right">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- All of the Node.js APIs are available in this renderer process. -->
    <script>
        require('../js/renderer.js');
    </script>
</body>

</html>