/* Removes outer padding from the application */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,700');
html,
body {
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: 400;
    background-color: rgb(253, 253, 253);
}


/* Contains the entire page */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.topbar {
    position: sticky;
    top: 0;
    grid-area: topbar;
    width: 100%;
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar__button {
    color: #fff;
    background-color: #000;
    padding: 1em;
    transition: 0.3s;
}

.topbar__button:hover {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
}


/* Contains everything below the topbar */

.manga-container {
    display: flex;
    flex: 1 1 calc(100% - 2em);
    justify-content: space-between;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.manga-container img {
    user-select: none;
    position: static;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: auto;
    border: 1px solid #7a7a7a;
    transform-origin: top;
    transition: 0.2s;
}

.btn {
    /* Sets the background colour of the div */
    background-color: rgb(221, 221, 221);
    opacity: 0.25;
    /* Flex attributes: https://flexbox.io/ */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Inside content padding, remember box modol */
    padding: 1em;
    /* A CSS property that controls how fast
    it changes from 1 set of styling to the next
    used in our case by :hover, increase to make slower
    decrease to make it change faster */
    transition: 0.3s;
}

.btn:hover {
    background-color: rgb(59, 59, 59);
    color: #fff;
    opacity: 1;
}

.card {
    margin: 1em;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10);
    padding: 1em;
}