/* Removes outer padding from the application */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,700');
html,
body {
    margin: 0;
    font-family: roboto;
    font-weight: 400;
    background-color: rgb(253, 253, 253);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "topbar" 
                         "content";
                         
}

.btn-open {
    color: #fff;
    padding: 10px;
}

.btn-plus {
    color: #fff;
    padding: 10px;
    right: 0px;
    position: absolute;
    
}

.btn-left {
    background-color: rgb(221, 221, 221);
    height: 100%;
    width: 50px;
    left: 0px;
}

.btn-right {
    background-color: rgb(221, 221, 221);
    height: 100%;
    width: 50px;
}

.topbar {
    grid-area: topbar;
    width: 100%;
    background-color: #313131;
    height: 50px;
    display: flex;
    align-items: center;
}

.img-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.card {
    margin: 1em;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10);
    padding: 1em;
}